<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Breast Cancer Detection</title>
    <style> body {
        background-image: url("slider1.jpg");
        background-color: #cccccc;
       }</style>
   
</head>  
<body style="background-image: url(slider.jpg);">
    <div class="container">
        <div class="  align-items-center">
            <h3>I wish you safety and health</h3>
            <h1>Breast Cancer Detection</h1>
        </div>
      </div>
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">
                       <div>
                            <div class="item item-first">
                                 <div class="caption">
                                      <div class="align-items-center">
                                          
                                           <form action="/result_page" method="post" enctype="multipart/form-data">
                                                <label for="img">upload screening mamogram</label>
                                                <input class=submit  type="submit">
                                                <input class=mybutton type="file" id="img" name="img" accept="image/*">
                                           </form>
                                      </div>
                                 </div>
                            </div>
                       </div>
             </div>
        </div>
    </section>
</body>


</html>